<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" style="text-decoration: none;" routerLink="/listar-notas">Note Builder</a>
            <div class="justify-content-end" id="navbarNav">
                <span class="navbar-text mr-3" style="margin-right: 15px;"><strong>¡Bienvenido! {{ usuario }}</strong></span>
                <button class="btn btn-hover-color" (click)="logout()">Salir</button>
            </div>
        </div>
    </nav>

    <!-- Switched -->

    <div class="container">
        <h1 style="text-align: center;">{{ titulo }}</h1>
        <ul class="uk-tab-bottom stylebar" uk-tab>
            <li [class.uk-active]="opcionSeleccionada === 'misNotas'">
                <a href="#" (click)="cambiarOpcion('misNotas')">Mis Notas</a>
            </li>
            <li [class.uk-active]="opcionSeleccionada === 'grupos'">
                <a href="#" (click)="cambiarOpcion('grupos')">Grupos</a>
            </li>
        </ul>

        <div *ngIf="opcionSeleccionada === 'misNotas'">
            <!-- Contenido para la opción "Mis Notas" -->
            <div class="container-notes uk-flex uk-flex-around">
                <button class="uk-button uk-button-primary" uk-toggle="target: #my-modal-note">Crear nueva nota</button>
                <button class="uk-button uk-button-primary" uk-toggle="target: #my-modal-category">Crear nueva categoría</button>
            </div>
        </div>

        <div *ngIf="opcionSeleccionada === 'grupos'">
            <!-- Contenido para la opción "Grupos" -->
            <p>Aquí va el contenido de Grupos.</p>
        </div>
    </div>

    <!-- Modal Crear Nota -->

    <div id="my-modal-note" uk-modal>
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Nueva nota</h2>
            </div>
            <div class="uk-modal-body">
                <form [formGroup]="noteForm">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="title">Título de la nota: </label>
                        <input class="uk-input" type="text" id="title" formControlName="title">
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="description">Descripción de la nota: </label>
                        <textarea class="uk-textarea" id="description" formControlName="description"></textarea>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="category">Categoría: </label>
                        <input class="uk-input" type="text" id="category" formControlName="category">
                    </div>
                </form>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cerrar</button>
                <button class="uk-button uk-button-primary" type="button" (click)="saveNote()">Guardar</button>
            </div>
        </div>
    </div>

    <!-- Modal Crear Categoria -->

    <div id="my-modal-category" uk-modal>
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Crear categoría</h2>
            </div>
            <div class="uk-modal-body">
                <form [formGroup]="noteForm">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="title">Nombre de la Categoría: </label>
                        <input class="uk-input" type="text" id="title" formControlName="title">
                    </div>
                </form>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cerrar</button>
                <button class="uk-button uk-button-primary" type="button" (click)="saveNote()">Guardar</button>
            </div>
        </div>
    </div>

    <div class="container mt-5">

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card-body text-center">
                    <br>
                    <br>

                    <!--UNO -->
                    <br>
                    <br>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> Examen</h5>
                            <h2 class="card-subtite text muted mb-2"> Lunes 26</h2>
                            <p class="card-text"> El examen sera muy dificilito </p>
                            <a href="#" class="card-link"><i class="fa-regular fa-pen-to-square" style="color: #ff0000;"></i></a>
                            <a href="#" class="card-link"><i class="fa-solid fa-trash" style="color: #e12336;"></i></a>
                        </div>
                    </div>


                    <!--DOS -->

                    <br>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> Examen</h5>
                            <h2 class="card-subtite text muted mb-2"> Lunes 26</h2>
                            <p class="card-text"> El examen sera muy dificilito </p>
                            <a href="#" class="card-link"><i class="fa-regular fa-pen-to-square" style="color: #ff0000;"></i></a>
                            <a href="#" class="card-link"><i class="fa-solid fa-trash" style="color: #e12336;"></i></a><br>
                        </div>
                    </div>


                    <!--TRES -->

                    <br>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> Examen</h5>
                            <h2 class="card-subtite text muted mb-2"> Lunes 26</h2>
                            <p class="card-text"> El examen sera muy dificilito </p>
                            <a href="#" class="card-link"><i class="fa-regular fa-pen-to-square" style="color: #ff0000;"></i></a>
                            <a href="#" class="card-link"><i class="fa-solid fa-trash" style="color: #e12336;"></i></a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</body>

</html>